## Preprocessing

In [89]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [90]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns=['EIN'])
df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [91]:
threshold = 300

# Get the frequency of each name
name_counts = df['NAME'].value_counts()

# Replace rare names with "Other"
df['NAME_BINNED'] = df['NAME'].apply(
    lambda x: x if name_counts[x] > threshold else 'Other'
)

# Drop the original NAME column
df = df.drop(columns=['NAME'])

# Check the result
print(df['NAME_BINNED'].value_counts())

NAME_BINNED
Other                                              29662
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
PTA TEXAS CONGRESS                                   368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC        331
ALPHA PHI SIGMA                                      313
Name: count, dtype: int64

In [92]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
NAME_BINNED                  9
dtype: int64

In [93]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [94]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T25', 'T14', 'T29', 'T15', 'T17', 'T2', 'T12']

# Replace column names
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# make sure replacement was successful
df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: count, dtype: int64

In [95]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [96]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = df['CLASSIFICATION'].value_counts()

# Filter and show only values greater than 1
class_counts_filtered = class_counts[class_counts > 1]

# Display the result
print(class_counts_filtered)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [97]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000

class_counts = application_df['CLASSIFICATION'].value_counts()

classifications_to_replace = class_counts[class_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [98]:
df['ASK_AMT'].value_counts()

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [99]:
cutoff = 4

amt_counts = df['ASK_AMT'].value_counts()

amt_to_replace = amt_counts[amt_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in amt_to_replace:
    df['ASK_AMT'] = df['ASK_AMT'].replace(cls,"Other")

# Check to make sure replacement was successful
df['ASK_AMT'].value_counts()

ASK_AMT
5000     25398
Other     8901
Name: count, dtype: int64

In [101]:
df.nunique()

APPLICATION_TYPE          11
AFFILIATION                6
CLASSIFICATION             6
USE_CASE                   5
ORGANIZATION               4
STATUS                     2
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
ASK_AMT                    2
IS_SUCCESSFUL              2
NAME_BINNED                9
dtype: int64

In [102]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df)
df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ASK_AMT_Other,NAME_BINNED_ALPHA PHI SIGMA,NAME_BINNED_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_BINNED_Other,NAME_BINNED_PARENT BOOSTER USA INC,NAME_BINNED_PTA TEXAS CONGRESS,NAME_BINNED_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_BINNED_TOPS CLUB INC,NAME_BINNED_UNITED STATES BOWLING CONGRESS INC,NAME_BINNED_WASHINGTON STATE UNIVERSITY
0,1,1,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,1,1,False,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,False,False,False
2,1,0,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
3,1,1,False,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,1,1,False,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [103]:
# Split our preprocessed data into our features and target arrays
y = df["IS_SUCCESSFUL"]
X = df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [104]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [114]:
# Define the model - deep neural net
input_features = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Third hidden layer (slightly smaller to force abstraction)
nn.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Add dropout for regularization (reduce dropout rate to retain more neurons)
nn.add(tf.keras.layers.Dropout(0.1))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Compile the model with Adam optimizer (reduced learning rate)
optimizer = tf.keras.optimizers.Adam(learning_rate=0.0005)
nn.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

# Check the structure of the model
nn.summary()

Model: "sequential_9"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_34 (Dense)                │ (None, 64)             │         3,584 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_35 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_36 (Dense)                │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_2 (Dropout)             │ (None, 16)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_37 (Dense)                │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 6,209 (24.25 KB)

 Trainable params: 6,209 (24.25 KB)

 Non-trainable params: 0 (0.00 B)

In [113]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics= ['accuracy'])

In [115]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs= 100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 312us/step - accuracy: 0.6823 - loss: 0.5993
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.7437 - loss: 0.5238
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.7407 - loss: 0.5282
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7394 - loss: 0.5231
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7423 - loss: 0.5171
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7416 - loss: 0.5165
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7455 - loss: 0.5166
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7475 - loss: 0.5127
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7460 - loss: 0.5165
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7476 - loss: 0.5142
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.7483 - loss: 0.5142
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 341us/step - accuracy: 0.7461 - loss: 0.5123
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7490 - loss: 0.5106
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7499 - loss: 0.5103
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7438 - loss: 0.5130
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7465 - loss: 0.5130
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7498 - loss: 0.5100
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7480 - loss: 0.5144
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.7472 - loss: 0.5108
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.7457 - loss: 0.5117
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7501 - loss: 0.5080
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7475 - loss: 0.5119
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7494 - loss: 0.5089
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7497 - loss: 0.5110
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7533 - loss: 0.5057
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7510 - loss: 0.5039
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7515 - loss: 0.5087
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7469 - loss: 0.5107
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7534 - loss: 0.5038
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7499 - loss: 0.5109
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7488 - loss: 0.5087
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 336us/step - accuracy: 0.7487 - loss: 0.5091
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7487 - loss: 0.5108
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7512 - loss: 0.5075
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7507 - loss: 0.5050
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 329us/step - accuracy: 0.7539 - loss: 0.5057
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7504 - loss: 0.5070
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7550 - loss: 0.5040
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7500 - loss: 0.5060
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7510 - loss: 0.5024
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7509 - loss: 0.5059
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 329us/step - accuracy: 0.7494 - loss: 0.5040
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.7530 - loss: 0.5053
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7487 - loss: 0.5082
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7553 - loss: 0.5034
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7539 - loss: 0.5020
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7501 - loss: 0.5077
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7522 - loss: 0.5056
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7513 - loss: 0.5050
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7536 - loss: 0.5033
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7511 - loss: 0.5061
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7553 - loss: 0.4984
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7535 - loss: 0.5005
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7544 - loss: 0.5026
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - accuracy: 0.7545 - loss: 0.5065
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7562 - loss: 0.4979
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7517 - loss: 0.5060
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7556 - loss: 0.5015
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7555 - loss: 0.5020
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7467 - loss: 0.5097
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7507 - loss: 0.5045
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7501 - loss: 0.5077
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7533 - loss: 0.4991
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7511 - loss: 0.5058
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - accuracy: 0.7546 - loss: 0.4997
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7543 - loss: 0.5026
Epoch 67/100

804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7558 - loss: 0.5017
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7555 - loss: 0.5009
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7575 - loss: 0.4988
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7507 - loss: 0.5038
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7534 - loss: 0.5021
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7557 - loss: 0.5000
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7551 - loss: 0.5001
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7527 - loss: 0.5042
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7530 - loss: 0.5003
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7559 - loss: 0.4993
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7565 - loss: 0.4949
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7591 - loss: 0.4951
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7539 - loss: 0.5007
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7553 - loss: 0.5003
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7504 - loss: 0.5025
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7565 - loss: 0.4984
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7533 - loss: 0.5031
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7599 - loss: 0.4951
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - accuracy: 0.7559 - loss: 0.5012
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7633 - loss: 0.4920
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7572 - loss: 0.4990
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7587 - loss: 0.4985
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7552 - loss: 0.4991
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 346us/step - accuracy: 0.7531 - loss: 0.5022
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7526 - loss: 0.5025
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7560 - loss: 0.5001
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7600 - loss: 0.4959
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7516 - loss: 0.5001
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - accuracy: 0.7562 - loss: 0.5012
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7508 - loss: 0.5043
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7550 - loss: 0.5010
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7535 - loss: 0.5022
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7533 - loss: 0.4989
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7548 - loss: 0.5001

In [116]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 438us/step - accuracy: 0.7391 - loss: 0.5257
Loss: 0.5257354974746704, Accuracy: 0.7391253709793091

In [44]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.