## Preprocessing

In [28]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [29]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns=['EIN', 'NAME'])
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [30]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [31]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [32]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T25', 'T14', 'T29', 'T15', 'T17', 'T2', 'T12']

# Replace column names
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# make sure replacement was successful
df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: count, dtype: int64

In [33]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [34]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = df['CLASSIFICATION'].value_counts()

# Filter and show only values greater than 1
class_counts_filtered = class_counts[class_counts > 1]

# Display the result
print(class_counts_filtered)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [35]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000

class_counts = application_df['CLASSIFICATION'].value_counts()

classifications_to_replace = class_counts[class_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [36]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df)
df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,True,False,False,...,False,False,True,False,False,False,False,False,True,False

In [37]:
# Split our preprocessed data into our features and target arrays
y = df["IS_SUCCESSFUL"]
X = df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [38]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [39]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 80)             │         3,680 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 6,141 (23.99 KB)

 Trainable params: 6,141 (23.99 KB)

 Non-trainable params: 0 (0.00 B)

In [40]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics= ['accuracy'])

In [45]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs= 100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 295us/step - accuracy: 0.7339 - loss: 0.5426
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 288us/step - accuracy: 0.7399 - loss: 0.5360
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 286us/step - accuracy: 0.7386 - loss: 0.5360
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step - accuracy: 0.7387 - loss: 0.5352
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 294us/step - accuracy: 0.7399 - loss: 0.5314
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 288us/step - accuracy: 0.7419 - loss: 0.5340
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 289us/step - accuracy: 0.7402 - loss: 0.5372
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 286us/step - accuracy: 0.7426 - loss: 0.5337
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 286us/step - accuracy: 0.7408 - loss: 0.5329
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7413 - loss: 0.5312
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7377 - loss: 0.5362
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 291us/step - accuracy: 0.7418 - loss: 0.5329
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7354 - loss: 0.5406
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 289us/step - accuracy: 0.7415 - loss: 0.5314
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7412 - loss: 0.5331
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 288us/step - accuracy: 0.7438 - loss: 0.5283
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 288us/step - accuracy: 0.7418 - loss: 0.5313
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7413 - loss: 0.5342
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7409 - loss: 0.5322
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 295us/step - accuracy: 0.7456 - loss: 0.5296
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.7460 - loss: 0.5290
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 286us/step - accuracy: 0.7439 - loss: 0.5293
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7394 - loss: 0.5329
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 289us/step - accuracy: 0.7397 - loss: 0.5329
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.7395 - loss: 0.5359
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.7449 - loss: 0.5314
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 298us/step - accuracy: 0.7447 - loss: 0.5294
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 286us/step - accuracy: 0.7406 - loss: 0.5335
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7433 - loss: 0.5308
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7427 - loss: 0.5288
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 295us/step - accuracy: 0.7444 - loss: 0.5277
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7490 - loss: 0.5251
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7454 - loss: 0.5252
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7384 - loss: 0.5337
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7376 - loss: 0.5373
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7398 - loss: 0.5353
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7447 - loss: 0.5285
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7389 - loss: 0.5351
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7444 - loss: 0.5335
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7393 - loss: 0.5340
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 290us/step - accuracy: 0.7435 - loss: 0.5353
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 290us/step - accuracy: 0.7440 - loss: 0.5326
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 294us/step - accuracy: 0.7435 - loss: 0.5298
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7361 - loss: 0.5403
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7440 - loss: 0.5330
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7421 - loss: 0.5318
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7437 - loss: 0.5305
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7418 - loss: 0.5334
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7398 - loss: 0.5335
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7432 - loss: 0.5310
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7426 - loss: 0.5327
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 283us/step - accuracy: 0.7372 - loss: 0.5347
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 288us/step - accuracy: 0.7446 - loss: 0.5332
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 290us/step - accuracy: 0.7401 - loss: 0.5344
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7440 - loss: 0.5302
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 295us/step - accuracy: 0.7447 - loss: 0.5299
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 298us/step - accuracy: 0.7419 - loss: 0.5337
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7458 - loss: 0.5285
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 292us/step - accuracy: 0.7415 - loss: 0.5325
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7444 - loss: 0.5292
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 294us/step - accuracy: 0.7453 - loss: 0.5274
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 301us/step - accuracy: 0.7423 - loss: 0.5334
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 296us/step - accuracy: 0.7416 - loss: 0.5329
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 298us/step - accuracy: 0.7439 - loss: 0.5277
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7423 - loss: 0.5343
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 290us/step - accuracy: 0.7383 - loss: 0.5340
Epoch 67/100

804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.7395 - loss: 0.5351
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 296us/step - accuracy: 0.7392 - loss: 0.5352
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 288us/step - accuracy: 0.7400 - loss: 0.5320
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 289us/step - accuracy: 0.7353 - loss: 0.5335
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7425 - loss: 0.5298
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 290us/step - accuracy: 0.7382 - loss: 0.5331
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7441 - loss: 0.5322
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7482 - loss: 0.5274
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7444 - loss: 0.5300
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7411 - loss: 0.5313
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7393 - loss: 0.5351
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7445 - loss: 0.5287
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7388 - loss: 0.5334
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 286us/step - accuracy: 0.7391 - loss: 0.5306
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7381 - loss: 0.5365
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7414 - loss: 0.5313
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 289us/step - accuracy: 0.7437 - loss: 0.5311
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7396 - loss: 0.5312
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 286us/step - accuracy: 0.7387 - loss: 0.5341
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7442 - loss: 0.5273
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7398 - loss: 0.5307
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7417 - loss: 0.5338
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7435 - loss: 0.5323
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7423 - loss: 0.5300
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7444 - loss: 0.5286
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.7443 - loss: 0.5266
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7458 - loss: 0.5266
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 295us/step - accuracy: 0.7415 - loss: 0.5315
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.7455 - loss: 0.5268
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7426 - loss: 0.5301
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 286us/step - accuracy: 0.7428 - loss: 0.5316
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 298us/step - accuracy: 0.7427 - loss: 0.5318
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.7446 - loss: 0.5292
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7409 - loss: 0.5312

In [42]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 468us/step - accuracy: 0.7286 - loss: 0.5557
Loss: 0.5556738972663879, Accuracy: 0.7286297082901001

In [44]:
# Export our model to HDF5 file
nn.save('Models/AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.